<div class="gallery-content">
    <h2 class="colorText">Echoes of Time</h2>
    <div class="horizontal-scroll">
        <div class="slide">
            <img src="assets/pic/gallery_photos/echo.JPG" alt="echo" loading="lazy">
            <div class="slide-name">echo</div>
        </div>

        <div class="slide">
            <img src="assets/pic/gallery_photos/gallery.JPG" alt="gallery" loading="lazy">
            <div class="slide-name">gallery</div>
        </div>

        <div class="slide">
            <img src="assets/pic/gallery_photos/hieroglyph.JPG" alt="hieroglyph" loading="lazy">
            <div class="slide-name">hieroglyph</div>
        </div>

        <div class="slide">
            <img src="assets/pic/gallery_photos/yay.JPG" alt="yay" loading="lazy">
            <div class="slide-name">yay</div>
        </div>

        <div class="slide">
            <img src="assets/pic/gallery_photos/lizard people(x.JPG" alt="lizard people(x" loading="lazy">
            <div class="slide-name">lizard people (x</div>
        </div>

        <div class="slide">
            <img src="assets/pic/gallery_photos/tablet.JPG" alt="tablet" loading="lazy">
            <div class="slide-name">tablet</div>
        </div>

        <div class="slide">
            <img src="assets/pic/gallery_photos/tranquility.JPG" alt="tranquility" loading="lazy">
            <div class="slide-name">tranquility</div>
        </div>

        <div class="slide">
            <img src="assets/pic/gallery_photos/R0009625.JPG" alt="test" loading="lazy">
            <div class="slide-name">test</div>
        </div>
    </div>

    <h2 class="colorText">Mewb</h2>
    <div class="horizontal-scroll">
        <div class="slide">
            <img src="assets/pic/gallery_photos/nebula.jpg" alt="image" loading="lazy">
            <div class="slide-name">City Nebula</div>
        </div>

        <div class="slide">
            <img src="assets/pic/gallery_photos/aurora.jpg" alt="aurora" loading="lazy">
            <div class="slide-name">aurora</div>
        </div>

        <div class="slide">
            <img src="assets/pic/gallery_photos/dream.JPG" alt="dream" loading="lazy">
            <div class="slide-name">dream</div>
        </div>

        <div class="slide">
            <img src="assets/pic/gallery_photos/5am.JPG" alt="5am" loading="lazy">
            <div class="slide-name">5am</div>
        </div>

        <div class="slide">
            <img src="assets/pic/gallery_photos/liz.JPG" alt="liz" loading="lazy">
            <div class="slide-name">liz</div>
        </div>

        <div class="slide">
            <img src="assets/pic/gallery_photos/vibration!.JPG" alt="vibration!" loading="lazy">
            <div class="slide-name">vibration!</div>
        </div>

        <div class="slide">
            <img src="assets/pic/gallery_photos/yes to all.JPG" alt="yes to all" loading="lazy">
            <div class="slide-name">yes to all</div>
        </div>
    </div>

    <h2 class="colorText">Kiwi Canvas</h2>
    <div class="horizontal-scroll">
        <div class="slide">
            <img src="assets/pic/Auckland.jpg" alt="Auckland" loading="lazy">
            <div class="slide-name">Auckland 25.12.2022</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Tutukaka Walkway.jpg" alt="Tutukaka Walkway" loading="lazy">
            <div class="slide-name">Tutukaka Walkway 04.04.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Whangarei Falls.jpg" alt="Whangarei Falls" loading="lazy">
            <div class="slide-name">Whangarei Falls 04.04.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Blue Spring.jpg" alt="Blue Spring" loading="lazy">
            <div class="slide-name">Blue Spring 04.05.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Rotorua.jpg" alt="Rotorua" loading="lazy">
            <div class="slide-name">Rotorua 05.05.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Huka Falls.jpg" alt="Huka Falls" loading="lazy">
            <div class="slide-name">Huka Falls 06.05.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Tongariro Alpine Crossing.jpg" alt="Tongariro Alpine Crossing" loading="lazy">
            <div class="slide-name">Tongariro Alpine Crossing 07.05.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Waterfront, Wellington.jpg" alt="Waterfront, Wellington" loading="lazy">
            <div class="slide-name">Waterfront, Wellington 09.05.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Cuba St, Wellington.jpg" alt="Cuba St, Wellington" loading="lazy">
            <div class="slide-name">Cuba St, Wellington 10.05.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Ferry to the South.jpg" alt="Ferry to the South" loading="lazy">
            <div class="slide-name">Ferry to the South 13.05.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Tasman Bay.jpg" alt="Tasman Bay" loading="lazy">
            <div class="slide-name">Tasman Bay 15.05.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Lake Rotoiti.jpg" alt="Lake Rotoiti" loading="lazy">
            <div class="slide-name">Lake Rotoiti 16.05.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Greymouth.jpg" alt="Greymouth" loading="lazy">
            <div class="slide-name">Greymouth 20.05.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Wanaka.jpg" alt="Wanaka" loading="lazy">
            <div class="slide-name">Wanaka 23.05.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Queenstown.jpg" alt="Queenstown" loading="lazy">
            <div class="slide-name">Queenstown 23.05.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Alexandra.jpg" alt="Alexandra" loading="lazy">
            <div class="slide-name">Alexandra 04.06.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Lake Tekapo.jpg" alt="Lake Tekapo" loading="lazy">
            <div class="slide-name">Lake Tekapo 05.07.2023</div>
        </div>

        <div class="slide">
            <img src="assets/pic/Island Bay, Wellington.jpg" alt="Island Bay, Wellington" loading="lazy">
            <div class="slide-name">Island Bay, Wellington 23.10.2023</div>
        </div>
    </div>
</div>
